<div class="dropdown-container">
    <div class="selected-items">
        <span class="selected-tag" *ngFor="let item of selectedItems">
          {{ item.name }}
          <button class="remove-tag-btn" (click)="removeItem(item)">x</button>
        </span>
        <button class="clear-all-btn" *ngIf="selectedItems.length" (click)="clearAll()">Clear All</button>
        <button class="toggle-btn" (click)="toggleDropdown()">
          {{ isDropdownOpen ? "▲" : "▼" }}
        </button>
      </div>
      
  
    <div class="dropdown-tree" [ngClass]="{'open': isDropdownOpen}">
      <ul>
        <ng-container *ngFor="let node of treeData">
          <li *ngIf="!node.pid">
            <input
              type="checkbox"
              [checked]="node.checked"
              (change)="onNodeCheckChange(node, false)"
            />
            {{ node.name }}
            <button *ngIf="node.hasChild" (click)="toggleNode(node)">
              {{ node.expanded ? "-" : "+" }}
            </button>
            <ul *ngIf="node.expanded">
              <li *ngFor="let child of getChildren(node.id)">
                <input
                  type="checkbox"
                  [checked]="child.checked"
                  (change)="onNodeCheckChange(child, true)"
                />
                {{ child.name }}
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  