<div class="dropdown-container">
  <div class="selected-items">
    <span class="selected-tag" *ngFor="let item of selectedItems">
      {{ item.name }}
      <button class="remove-tag-btn" (click)="removeItem(item)">x</button>
    </span>
    <button
      class="clear-all-btn"
      *ngIf="selectedItems.length"
      (click)="clearAll()"
    >
      Clear All
    </button>
    <button mat-icon-button class="toggle-btn" (click)="toggleDropdown()">
      
      <mat-icon aria-label="expand/collapse icon"  >
        {{isDropdownOpen ? 'arrow_drop_up' : 'arrow_drop_down'}}
      </mat-icon>
    </button>
  </div>

  <div class="dropdown-tree" [ngClass]="{ open: isDropdownOpen }">
    <ul>
      <ng-container *ngFor="let node of treeData">
        <li *ngIf="node.hasChild" >
          <button mat-icon-button (click)="toggleNode(node)">
            <mat-icon aria-label="expand/collapse icon"  >
                {{node.expanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}
              </mat-icon>
          </button>
          <label >
            <input
              type="checkbox"
              [checked]="node.checked"
              (change)="onNodeCheckChange(node, false)"
            />
            <span class="custom-checkbox"></span>
          </label>
          

          {{ node.name }}
          <ul *ngIf="node.expanded">
            <li *ngFor="let child of getChildren(node.id)">
              <label>
                <input
                  type="checkbox"
                  [checked]="child.checked"
                  (change)="onNodeCheckChange(child, true)"
                />
                <span class="custom-checkbox"></span>
              </label>
              {{ child.name }}
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
