.dropdown-container {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 300px;
}

.selected-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.selected-tag {
  background-color: #f0f0f0;
  border-radius: 16px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.remove-tag-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #cd1d20;
}

.clear-all-btn {
  margin-left: auto;
  background-color: #cd1d20;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.toggle-btn {
  margin-left: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}

.toggle-btn mat-icon {
  font-size: 40px;
  width: 100%;
  height: 100%;
}
.right-option{
  margin-left: auto;
  display: flex;
}
.dropdown-tree {
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

.dropdown-tree.open {
  display: block;
}

ul {
  list-style: none;
  padding-left: 0px;
}
ul ul {
  padding-left: 60px;
}

li {
  margin: 0px 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 5px;
}


.node-container {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  min-height: 40px;
}

/* custom checkbox */

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 15%;
}

.checkbox-container:hover input ~ .custom-checkbox {
  background-color: #ddd;
}

.checkbox-container input:checked ~ .custom-checkbox {
  background-color: #94ab00;
}

/* Create the checkmark */
.custom-checkbox::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .custom-checkbox::after {
  display: block;
  /* width: 1px; */

}

/* Style the checkmark */
.checkbox-container .custom-checkbox::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
